go 1.26.2

use (
	./services/automations-service
	./services/billing-service
	./services/events-service
	./services/files-service
	./services/identity-service
	./services/workspace-service
	./pkg/grpc
)
