go 1.23

use (
	./pkg
	./services/automations-service
	./services/billing-service
	./services/events-service
	./services/files-service
	./services/identity-service
	./services/ping
	./services/workspace-service
)
